:root {
	// COLOURS
	--background: #004643;
	--headline: #fffffe;
	--paragraph: #abd1c6;
	--button: #f9bc60;
	--button-text: #001e1d;
	--secondary-bg: #abd1c6;

	// FONTS
	--font-headers: 'Raleway', sans-serif;
	--font-paragraph: 'Roboto Mono', monospace;
}
